@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

@import "tailwindcss";


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.bg-home {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}